*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar-brand img{
    width: 30px;
    height: 30px;
}

nav{
	width: 100%;
	position: sticky !important;
	left: 0;
	top: 0;
	box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.navbar-brand{
    font-size: 22px;
    text-align: center;
    align-items: center;
    justify-content: center;
	font-weight: 600;
}


.nav-link{
	color: white !important;
	border-bottom: 1px solid white transparent;
}

.nav-link:hover{
	border-bottom: 1px solid white;
}

.navbar-search{
	justify-content: center;
	align-items: center;
}

.logo{
	padding-left: 5px;
	padding-right: 5px;
	height: 50px;
	width: 50px;
	align-items: center;
}




.navbarBrand{
	color: white;
}

Button{
	margin: 10px;
}

.bi{
	margin: 10px;
}



.navbarBrand a{
	text-decoration: none;
	color: white;
	font-size: 30px;
}